ion-toolbar {
    --background: #2c3e50; /* Fondo oscuro */
    --color: #ffffff; /* Color del texto */
  }
  
  ion-segment {
    margin: 10px;
  }
  
  ion-button {
    margin: 5px;
  }
  

  #map {
    height: 100%;
    width: 100%;
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 0;
  }
  
  